<div class="container mt-3">
    <div class="row singleOrderBorder mt-5" >
        <div class="pb-3 " >
            
           
                {{#each order.products}}
                <div class="row">
                    <div class="col-md-2 pt-2">
                        <img src="/product-images/{{product.Images.[0]}}.jpg" alt="" width="90%">
                    </div>
                    <div class="col-md-5 pt-2">
                       <h4> {{product.product}}</h4>
                       <h5 class="text-secondary"> {{product.brand}}</h5>
                       <h5 >₹{{product.offerPrice}}<span style="text-decoration: line-through;" class="text-secondary ps-2">₹{{product.price}}</span></h5>
                        <h6>Size : {{size}}</h6>
                        <h6>Quantity : {{quantity}}</h6>
                    </div>
                </div>
                {{/each}}
            
        
        </div>
        <div class="col-md-4">
            
            {{#if (eq singleOrder.status "adminAcceptCancel")}}
            <img src="/images/cancel.png" alt="" width="50%" class="pt-4" style="opacity: 0.7;">
            <h5 class="text-danger pt-4 ">Your order is Cancelled</h5>
            {{/if}}
            {{#if (eq singleOrder.status "userCancelPending")}}
            
            <div class="mt-5 pt-5">
                <h3 class="text-danger">Your request to cancel the order has been processed.</h3>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="row singleOrderBorder mt-3">
        <div class="col-md-4 ps-2 pb-2">
            <h4 class=" mt-2">Delivery Address</h4>
            <h6>{{order.Address.name}}</h6>
            <p class="text-secondary mb-0">{{order.Address.address}}</p>
            <p class="text-secondary mb-0">{{order.Address.town}}</p>
            <p class="text-secondary mb-0">{{order.Address.state}}</p>
            <p class="text-secondary mb-0">{{order.Address.pincode}}</p>
            <p class="text-secondary mb-0">{{order.Address.phone}}</p>
            <p class="text-secondary mb-0">{{order.Address.email}}</p>
         
        </div>
        <div class=" col-md-4 ">
            <h5 class="text-secondary mb-5 mt-3">More Actions</h5>
            <a href="" class="dwnldbtn text-white bg-dark ps-3 pe-3 pt-3 pb-3 ">Download Invoice</a>
        </div>
        <div class="col-md-3 d-flex mt-5  mt-md-0" style="align-items: center;">
            <a href="/cancel-order/{{order._id}}" class="btn btn-danger text-white">Cancel Order</a>
        </div>
    </div>
</div>